input{
    outline: none;
    border: none;
    width: 100%;
    margin: 0.7em 0 ;
    font-family: "Montserrat";
}


input:focus{
    border: solid grey;
}

.label-button-container{
    width: 80%;
}

