/* ----------------------------------------------LOGIN-------------------------------------------------- */

.login-form {
  width: 30vw;
  height: 70vh;
}

.login-form Button {
  width: 10em;
}

.input-container {
  height: 40%;
  width: 100%;
}

.login-form input {
  height: 2.5em;
}

.login-form p {
  font-size: 0.75em;
}

p a {
  color: black;
}

.login-form {
  font-family: "Montserrat";
}

/* ----------------------------------------------SIGNUP-------------------------------------------------- */

.register-form {
  width: 35vw;
  height: 80vh;
  font-family: "Montserrat";
  /* box-sizing: border-box; */
}

.register-form Button {
  width: 10em;
  margin-top: 4em;
  /* font-family: "Montserrat"; */
}

.register-form header {
  height: 2.5em;
}

.signup-input-container {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
}

.register-form input {
  height: 3em;
}

.register-form p {
  font-size: 0.75em;
}

/* ----------------------------------------------HOME-------------------------------------------------- */

/* .home-header input {
  height: 2em;
} */

.search-bar {
  width: 40%;
  height: 2em;
}

.home {
  height: 100vh;
}

.logout-btn {
  width: 5em;
}

.upload-btn {
  width: 2.5em;
}
